*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    border:1px solid rgb(202, 202, 202);
    width:auto;
    height: 60px;
    color: rgb(59, 59, 255);
    font-size: 15px;

}
#explore{
    border:2px solid transparent;
    background-color: transparent;
    color: rgb(59, 59, 255);
    width:auto;
    height: 57px;
    margin-left: 90px;
    font-size: 16px;
    font-weight: 600;
}

#searchbar{
    border:1px solid rgb(129, 129, 129);
    color: rgb(59, 59, 255);
    width: 200px;;
    height: 40px;
    margin-left: 60px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 7px;
    padding-right: 80px;
    font-size: 16px;
}
#sicon{
    padding-right: 10px;
    font-size:  24px;
}
#name{
    color: rgb(30, 33, 129);
    margin-top: 17px;
    font-size: 19px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    margin-top: 7px;
    margin-left: 140px;
}
#donate{
    margin-top: 20px;
    margin-left: 250px;
    font-weight: 600;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
#log{
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 17px;
}
#btnborder{
    border:2px solid white;
    width: 92px;;
    height: 44px;
    padding: 2px;
    margin-top: 8px;
    margin-left:40px;
    border-radius: 8px;
}
#signbtn{
    border:1px solid rgb(59, 59, 255);
    color: rgb(255, 255, 255);
    width: 85px;;
    height: 37px;
    border-radius: 5px;
    background-color: rgb(43, 43, 245);
    font-size: 15px;
    font-weight: 600;
}
#searchbar:hover{
    border:2px solid rgb(43, 43, 245);
    cursor: pointer;
} 
#name:hover{
    color: rgb(43, 43, 245);
}
#donate:hover{
    text-decoration-line: underline;
}
#log:hover{
    text-decoration-line: underline;
}
#explore:hover{
    cursor: pointer;
}
#explore:focus{
    border-color: blue;
}
.navbar:hover{
    cursor: pointer;
}
#btnborder:hover{
    border-color:rgb(43, 43, 245) ;
}
.dropdown-content {
    display:none; 
    background-color: rgb(248, 241, 248);
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 15px;
    gap: 30px;
    z-index: 1000; 
}
.menu{
    display: inline-block;
    position: relative;
}
.column {
    width: 240px;
    height: auto;
    border: 1px solid transparent;
}
.column >h3{
    color: black;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.column>a{
    display: block;
    padding-left: 50px;
    color: rgb(82, 82, 255) ;
    padding-top: 25px;
    text-decoration: none;
}
.column>a:hover{
    text-decoration: underline;
}
#medapp{
    display: none;
}
#newbox{
    border:1px solid rgb(59, 59, 255);
    color: rgb(255, 255, 255);
    width: 40px;;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(43, 43, 245);
    font-size: 13px;
    display: flex;
    padding: 2px;
    padding-left: 6
}
#medsb{
    display: none;
}
#toggle{
    display: none;
}
@media screen and (max-width:1440px){
    .navbar{
        width: auto;
    }
    #explore{
        margin-left:100px;
    }
    #searchbar{
        width: 210px;
    }
    #sicon{
        padding-left:5px;
        padding-top: 0px;
        font-size: 20px;
    }
    #logo{
        margin-left: 150px;
    }
    #donate{
        margin-left: 210px;
    }
} 
@media screen and (max-width:1286px){
    #explore{
        margin-left:70px;
    }
    #searchbar{
        width: 235px;
    }
    #sicon{
        padding-left: 20px;
    }
    #logo{
        margin-left: 140px;
    }
    #donate{
        margin-left: 150px;
    }
} 
@media screen and (max-width:1026px){
    .navbar{
        width: 1055px;
    }
    #explore{
        margin-left:20px;
        margin-top: 4px;
    }
    #searchbar{
        width: 220px;
    }
    #logo{
        margin-left: 90px;
    }
    #donate{
        margin-left: 100px;
    }
} 
@media screen and (max-width:768px) {
    .navbar{
        width: 780px;
    }
    #explore{
        margin-left:20px;
    }
    #searchbar{
        display: flex;
        margin-left: 20px;
        padding-top: 13px;
        width: 140px;
        padding-left: 2px;
    }
    #sicon{
        padding-left: 2px;
    }
    #logo{
        margin-left: 30px;
    }
    #donate{
        margin-left: 50px;
    }
    #log{
        margin-left: 10px;
    }
    #btnborder{
        margin-left: 10px;
    }
}
@media screen and (max-width:700px) {
    .navbar{
        width: 700px;
    }
    #explore{
        margin-left:14px;
    }
    #donate{
        margin-left: 30px;
    }
    #logo{
        margin-left: 10px;
    }
    #searchbar{
        width: 120px;
    }
    .dropdown-content {
        width: 700px;
    }
    #medapp{
        display:block;
    }
    #remove{
        display: none;
    }
    .column {
        width: 190px;
        height: auto;
        border-color: transparent;
        margin-left: 40px;
    }
     .column >h3{
        padding-left:50px;
    }
    .column>a{
        padding-left:50px;
    } 
}

@media screen and (max-width:600px){
    .h{
        display: none  !important;
    }
    .navbar{
        width:600px;
    }
    #logo{
        margin-left:0px;
    }
    #medsb{
        display:flex;
        padding-left: 280px;
        padding-top: 20px;
        font-size: 20px;
    }
    #toggle{
        display:flex;
        margin-left: 40px;
        margin-top: 14px;
        margin-bottom: 20px;
        background-color: transparent;
        color:rgb(43, 43, 245);
        border-color: transparent;
        font-weight: bolder;
        font-size: 20px;
    }
    .dropdown-content {
        margin-top: 60px;
        width: 600px;
    }
    #medapp{
        display:block;
    }
    #remove{
        display: none;
    }
    .column {
        width: 190px;
        height: auto;
        border-color: transparent;
        margin-left: 40px;
    }
     .column >h3{
        padding-left:50px;
    }
    .column>a{
        padding-left:50px;
    } 
}
@media screen and (max-width:500px){
    .navbar{
        width:500px;
    }
    #medsb{
        padding-left: 200px;
    }
    .dropdown-content {
        margin-top: 60px;
        width: 500px;
    }
    .column {
        width: 160px;
        margin-left: 30px;
    }
     .column >h3{
        padding-left: 40px;
    }
    .column>a{
        padding-left:40px;
    } 
}

@media screen and (max-width: 425px){
    .navbar{
        width:440px;
    }
    #medsb{
        padding-left: 150px;
    }
    #toggle{
        margin-left: 20px;
    }
    .dropdown-content {
        width: 430px;
    }
    .column {
        width: 190px;
        margin-left:0px;
    }
     .column >h3{
        padding-left: 30px;
    }
    .column>a{
        padding-left:30px;
    } 
}

@media screen and (max-width: 375px){
    .navbar{
        width:380px !important;
        height: 70px;
    }
    #medsb{
        padding-left: 100px !important;
    }
    .dropdown-content {
        width: 375px;
    }
    .column {
        width: 140px;
    }
    .column >h3{
        padding-left: 20px;
    }
    .column>a{
        padding-left:20px;
    }
}
@media screen and (max-width: 370px){
    .navbar{
        width:385px ;
    }
}
@media screen and (max-width: 322px){
    .navbar{
        width:337px ;
    }
    #medsb{
        padding-left: 50px ;
    }
    .column {
        width: 130px;
    }
    .column >h3{
        padding-left:17px;
    }
    .column>a{
        padding-left:17px;
    }
}
@media screen and (max-width: 320px){
    .navbar{
        width:332px !important;
    }
    #medsb{
        padding-left:45px !important;
    }
    .dropdown-content {
        width: 326px;
    }
    .column {
        width: 130px;
    }
    .column >h3{
        padding-left:2px;
    }
    .column>a{
        padding-left:2px;
    }
}
/* .mainmenu{
    width: 900px;
    height: 900px;
    border: 1px solid red;
    margin-top: 60px;
    margin-left: 230px;
} */